<ul id="top_menu">
  <li><%= link_to "Home", "/" %></li>
  <li><%= link_to "Pricing", "pricing" %></li>
  <li><%= link_to "Why Own?", "more_info" %></li>
  <li><%= link_to "Advantage", "advantages" %></li>
  <li><%= link_to "Cantera", "cantera_floor_plan" %></li>
  <li><%= link_to "22nd Street", "lombard" %></li>
  <li><%= link_to "Developments", "developments" %></li>
</ul>
