<%= render( :partial => "cantera_nav" ) %>
<%= link_to "download printer-friendly file", { :action => 'send_pdf', :name => "CanteraFloorPlan" }, { :class => 'download_link' } %>

<div id='cantera-header'><%= image_tag("cantera_header.png", :alt=>"Cantera Office Condominium Floorplan") %></div>
<%= image_tag("cantera_available_units.png", :alt=>"Cantera Office Condominium Floorplan") %>

<div id='walker-footer'>
  <h3 class='red'>For more information or to arrange a tour, please contact:</h3>
  <div class='footer-columns'>
    <div class='column'>
      <h2 class='red'>Jeff Walker</h2>
      <p><a href="mailto:jrw@jrwalker.com">jrw@jrwalker.com</a>
    </div>
    <div class='column'>
      <h2 class='red'>Deborah Cerone</h2>
      <p><a href="mailto:deb@jrwalker.com">deb@jrwalker.com</a>
    </div>
  </div>
  <%= image_tag 'walker_logo.png' %>
  <h3>Marketing and Sales</h3>
  <h4>(630) 462-0075</h4>
  <h5>Why rent when owning costs less?</h5>
</div>
