<!DOCTYPE html>
<html>
  <head>
    <title>A.A. Rose Construction Company: Office Condominiums</title>
    <meta name="keywords" content="office condominium, office condos, condominium offices, office space Illinois Dupage, office condos Dupage,office condos Lombard, office condos Warrenville, office condos Wheaton, office condos Naperville, office condos Cantera, Regency Office Park, Cantera Lakes, Cantera, reciusa.com, office condos in western suburbs, Danada Professional Center" />
    <meta name="description" content="office condominium construction contractor in Wheaton, IL" />
    <%= javascript_include_tag 'main' %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "fadeshow" %>
    <%= stylesheet_link_tag 'stylish', :media => 'all' %>
    <%= csrf_meta_tag %>
  </head>
  <body id="main">
    <div id="wrapper">
      <div id="it">
        <div id="top">
          <%= render :partial => '/main/nav_menu' %>
        </div>
        <div id="middle" class="clearer">
          <div class='introduction'>
          </div>
          <div id='mainbar_full'>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <p>A.A. Rose Construction Company</p>
      <p><%= link_to "aaroseconstco@sbcglobal.net", "mailto:aaroseconstco@sbcglobal.net" %></p>
      <!--
      <p>P.O. Box 802</p>
      <p>Wheaton, IL  60187</p>
      -->
    </div>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-3412600-1");
      pageTracker._initData();
      pageTracker._trackPageview();
    </script>
  </body>
</html>

